streamlit
msal
azure-identity
msgraph-sdk
microsoft-fabric-api
pyodbc
pandas
requests
python-dotenv
ipykernel
pyspark
requests
openpyxl
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client